.bg-info {
    padding: 140px;
margin-bottom: 30px;
    height: 500px;
    
}
 ul {

     list-style: none;
     margin-left: 0;
    padding-left: 0;
    }

main {
    position: absolute;
    padding-left: 830px;
    padding-top: 550px;


}



    